@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

html {
  font-family: "Ubuntu Condensed", "Raleway";
  background-image: url(images/image2);
  min-height: 100vh;
  height: 100%;
}

body {
    background-image: url("image2.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    height: fit-content;
    min-height: 100%;
    margin: 0px;
  }

header {
  text-align: center;
  padding: 10px;
  height: auto;

  display: flex;
  align-self: flex-start;
  flex-direction: column;

  /* margin: 20px; */
  padding: 20px;

  background-color: rgba(112, 128, 144, 0);
  font-family: Ubuntu Condensed;
  font-size: 20px;
  @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap")
    @import
    url("https://fonts.google.com/specimen/Ubuntu+Condensed?sidebar.open&selection.family=Raleway:wght@100|Ubuntu+Condensed&preview.text=Rachael+Dagge&preview.text_type=custom#standard-styles");
}

nav {
  /* margin: 20px; */
  background-color: rgba(176, 224, 230, 1);
  align-self: flex-start;
  display: flex;
  float: inline-end;
  align-self: center;
}

footer {
  margin: 2px;
  padding-top: 7px;
  
  position: absolute;
  align-self: auto;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #fff;
  text-align: center;
}

h2 {
  font-size: 5.5rem;
  line-height: 3rem;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  font-size: 20px;
  line-height: 3rem;
  color: #fff;
  text-align: center;
}

h4 {
  font-size: 18px;
  line-height: 2rem;
  color: #fff;
  font-family: sans-serif;
  align-self: center;
  text-align: center;

}

h5 {
  font-size: 10px;
  color: black;
}


h6 {
font-size: 15px;
  color: whitesmoke; 
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

a:hover {
  color: #fda103;
  border-bottom: 2px solid #fda103;
}

div {
  padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    float: center;

  }

#image1 {
  padding: 40px;
  margin: 30px;
  display: center;

}

#image3 {
  width: 20px;
  height: 20px;
}

html {
  font-family: "Raleway", sans-serif;
}

@viewport {
  zoom: 1;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1;
}