@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


html {
font-family: 'Ubuntu Condensed','Raleway';
background-image: url(images/image2);
}
body {
margin: 0;
background-color: #F5F5F5;
}
header {
text-align: center;
padding: 10px;
align-self: center;
display: flex;
}
h1 {
font-size: 2.5rem;
line-height: 2.5rem;;
color: #fff;
}
h2 {
font-size: 3rem;
line-height: 3rem;
color: #fff;
}
nav {
margin: 20px;
padding - top: 4px;
background-color: #B0E0E6;
float: right;
nav.brand - logo {
}
nav.right {
}
nav ul a{
color: black;
font - size:20px;
}
}
a {
color: #fff;
text-decoration: none;
padding: 5px;
}
a:hover {
color: #fda103;
border-bottom: 2px solid #fda103;
}

div {
padding: 10px;
}
img {
width: 300px;
height: 40vh;
object-fit: cover;
object-position: center;
display: flex;
}
#image1 {
border: 3px solid #B0E0E6;
}
footer {
text-align: center;
background-color:#B0E0E6;
padding: 10px;
color: #fff;
}
/* Your code here */
nav a {
display: block;
}
nav {
width: 700px; 
}
header {
margin: 20px;
padding: 20px;
}
h1 {
color: RGB(255, 0, 255)
}
header {
background-color: #708090; font-family: Ubuntu Condensed; font-size: 20px;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap)
@import url(https://fonts.google.com/specimen/Ubuntu+Condensed?sidebar.open&selection.family=Raleway:wght@100|Ubuntu+Condensed&preview.text=Rachael+Dagge&preview.text_type=custom#standard-styles)
}
html {
font-family: 'Raleway', sans-serif;
}


